  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 200px;     
  }

  main{
    display: flex;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    gap: 20px;
  }


  .summary-left{
    width: 50%;
    height: 400px;
  }
  .summary-right{
    width: 50%;
    height: 400px;
  }

  .summary-left{
    opacity:0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color:blue;
    color: white;
    border: none;
    border-radius: 30px;
  }

  .summary-left > p {
    text-align: center;
    width: 80%;
  }
  .left-mark {
    font-size: larger;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: darkblue;
    padding: 30px;
    text-align: center;
  }
  .left-mark h1 {
    font-size: 50px;
  }

  .summary-right{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .summary-right h2 {
    margin-left: 15px;
  }

  .summary-reaction {
    padding: 09px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 05px;
    background-color: rgb(243, 210, 210,0.4);
  }

   .summary-reaction--list{
    display: flex;
    gap: 5px;
   }

   .summary-reaction--list h3 {
    color: rgba(255, 0, 0, 0.451);
  
}

.summary-reaction h3 {
    font-weight:lighter;
}
.summary-memory h3 {
    font-weight:lighter;
}
.summary-verbal h3 {
    font-weight:lighter;
}
.summary-visual h3 {
    font-weight:lighter;
}

.getmark {
    font-weight:600;
}


.summary-memory{
    padding: 09px;
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 05px;
    background-color:rgb(255, 255, 0,0.2);
  }

  .summary-memory--list{
    display: flex;
    gap: 5px;
   }

   .summary-memory--list h3 {
    color:rgba(102, 102, 4, 0.4);
  
}


.summary-verbal{
    padding: 09px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 05px;
    background-color:rgb(0, 128, 0,0.1);
  }

  .summary-verbal--list{
    display: flex;
    gap: 5px;
   }

   .summary-verbal--list h3 {
    color: green;
   }

   .summary-visual{
    padding: 09px;
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 05px;
    background-color:rgb(0, 0, 255,0.1);
  }

  .summary-visual--list{
    display: flex;
    gap: 5px;
   }

   .summary-visual--list h3 {
    color: rgb(0, 0, 255,0.6);
   }

   .summary-right button {
    width: 250px;
    padding: 10px;
    margin:30px auto;
    border-radius: 20px;
    border: none;
    background-color: rgb(4, 4, 73);
    color: white;
    font-size: 20px;
   } 


   @media only screen and (max-width: 768px) {
    /* For mobile phones: */
     main{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 900px;
     }

     .summary-left{
        width: 100%;
        height: 400px;
      }
      .summary-right{
        width: 80%;
        height: 400px;
      }

      .summary-right button {
        width: 300px;
        margin:  40px 20px ;

       }

       .summary-memory,.summary-verbal,.summary-reaction,.summary-visual{
        padding: 15px;
        width: 100%;
       }
  }